* {
  box-sizing: border-box;
}

h1,
h2,
h4,
h5,
p {
  margin: 0px;
}

@font-face {
  font-family: Pokemon;
  src: url("fonts/pk1.ttf");
}

body {
  background-color: #ffffcc;
}

header {
  font-family: Pokemon;
  text-align: center;
  letter-spacing: 0.25em;
}

.container {
  font-family: "Lobster", cursive;
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.container > div {
  width: 80%;
}

select,
input,
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

select,
input {
  width: 65%;
  height: 2em;
}

@media screen and (min-width: 576px) {
  body {
    background-color: white;
  }

  .container {
    flex-direction: row;
    background-color: #ffffcc;
    border-radius: 1em;
  }

  .container > div {
    width: 40%;
    margin: 1em;
  }
}

@media screen and (min-width: 993px) {
  .container {
    background-color: white;
  }

  .container > div {
    width: 29%;
  }

  .izquierda,
  .centro,
  .derecha {
    background-color: #ffffcc;
    border-radius: 1em;
  }

  input[type="button"] {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}